// -------------------------------------------------------
// Global settings - adjust these to your heart's desire
// -------------------------------------------------------

// font options (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// default font stack
font-stack = helvetica-neue
font-size = 15
font-color = #555

// colors
red = #B44326
orange = #F2A34F
yellow = #F8CA5C
green = #7FC028
light-blue = #52D7FE
blue = #00a6fc
purple = #8E48C2
white = #fff
black = #272727

// default color
default = blue

// text hilight color
hilight-color = blue

// -------------------------------------------------------
// Importing all the files we need
// -------------------------------------------------------

@import 'reset'
@import 'utilities'
@import 'interaction'
@import 'typography'
@import 'code'
@import 'ui'
@import 'buttons'
@import 'forms'
@import 'tables'
// @import 'fluid'

// -------------------------------------------------------
// Framework Mixin (loads all default styles)
// -------------------------------------------------------

framework()
  base()
  typography()
  forms()
  buttons()
  code-blocks()
  tables()