@import '_settings'

normalize()
base()

// base styles on everything, for prototyping
framework()

header
  background: blue
  width: 100%
  text-align: center

  h1
    color: white
    padding: 80px 0
    font-weight: 300

#posts
  reset-list()
  width: 800px
  margin: 50px auto

  h2
    margin-bottom: 40px

  li
    margin: 10px 0
    fs: 1.5em
