@import '_settings'

normalize()
base()

// base styles on everything, for prototyping
framework()

header
  background: blue
  width: 100%
  text-align: center

  h1
    color: white
    padding: 5.3em 0
    font-weight: 300

#posts
  reset-list()
  min-width: 53em
  margin: 4em auto

  h2
    margin-bottom: 2.6em

  li
    margin: 0.75em 0
    fs: 1.5em
