article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'Courier New', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 1px solid;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 1px solid;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 1px solid;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.btn-simple {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background-color: #00a6fc;
  color: #fff;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-simple:hover,
.btn-simple:focus {
  background-color: #009eef;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
}
.btn-simple:active {
  background-color: #0095e3;
}
.btn {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background: url("/img/noise.png") repeat, #0095e3 -webkit-gradient(linear, left top, left bottom, color-stop(0, #17b0ff), color-stop(1, #0095e3)) repeat-x;
  background: url("/img/noise.png") repeat, #0095e3 -webkit-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("/img/noise.png") repeat, #0095e3 -moz-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("/img/noise.png") repeat, #0095e3 -o-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("/img/noise.png") repeat, #0095e3 -ms-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("/img/noise.png") repeat, #0095e3 linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #0095e3;
  color: #fff;
  color: rgba(255,255,255,0.95);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover,
.btn:focus {
  background-position: 0 -9.945px;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -moz-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -o-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -ms-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  border-color: #0088cf;
}
.btn.disabled,
.btn-simple.disabled {
  background: #ccc;
  border-color: #b8b8b8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: #00a6fc;
}
.btn.disabled:hover,
.btn-simple.disabled:hover {
  background-position: 0 0;
}
.btn.disabled:active,
.btn-simple.disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #b8b8b8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.flash.error {
  background: #e67467 -webkit-gradient(linear, left top, left bottom, color-stop(0, #e88074), color-stop(1, #e67467)) repeat-x;
  background: #e67467 -webkit-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 -moz-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 -o-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 -ms-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #e26153;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash.error:before,
.flash.error:after {
  content: "";
  display: table;
}
.flash.error:after {
  clear: both;
}
.flash.warning {
  background: #fae46c -webkit-gradient(linear, left top, left bottom, color-stop(0, #fae77b), color-stop(1, #fae46c)) repeat-x;
  background: #fae46c -webkit-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c -moz-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c -o-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c -ms-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #f9df53;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.flash.warning:before,
.flash.warning:after {
  content: "";
  display: table;
}
.flash.warning:after {
  clear: both;
}
.flash.notice {
  background: #62c1fa -webkit-gradient(linear, left top, left bottom, color-stop(0, #70c7fa), color-stop(1, #62c1fa)) repeat-x;
  background: #62c1fa -webkit-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa -moz-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa -o-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa -ms-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #49b7f9;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash.notice:before,
.flash.notice:after {
  content: "";
  display: table;
}
.flash.notice:after {
  clear: both;
}
.flash.success {
  background: #73dc9d -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fdfa6), color-stop(1, #73dc9d)) repeat-x;
  background: #73dc9d -webkit-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d -moz-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d -o-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d -ms-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #5fd790;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash.success:before,
.flash.success:after {
  content: "";
  display: table;
}
.flash.success:after {
  clear: both;
}
@font-face {
  font-family: 'entypo';
  src: url("/fonts/entypo/entypo.eot?#iefix") format('embedded-opentype'), url("/fonts/entypo/entypo.woff") format('woff'), url("/fonts/entypo/entypo.ttf") format('truetype'), url("/fonts/entypo/entypo.svg#svgFontName") format('svg');
}
body {
  border-top: 7px solid #e77552;
  font-family: 'freight-sans-pro', sans-serif;
  position: relative;
  background: #f6f8fb;
  overflow-x: hidden;
  -webkit-animation: fadeIn 1s ease;
}
strong {
  font-weight: 600;
}
strong code {
  color: inherit;
}
hr {
  border: 1px solid #ccc;
  border-top: none;
}
code {
  color: #e77552;
  font-size: 0.95em;
}
code.big {
  font-size: 1.4em;
}
.fork-ribbon {
  display: block;
  position: absolute;
  top: 25px;
  right: -45px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #3e444d;
  padding: 5px 50px;
  color: #fff;
  text-decoration: none;
}
header {
  zoom: 1;
  padding: 60px;
  width: 960px;
  margin: 0 auto;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header .logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("/img/logo.png") no-repeat;
  width: 163px;
  height: 84px;
  float: left;
  display: block;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
header .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
header nav {
  float: right;
}
header nav ul {
  zoom: 1;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  color: #a8a9ab;
  font-size: 18px;
}
header nav ul:before,
header nav ul:after {
  content: "";
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li a {
  color: #a8a9ab;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
header nav ul li a:hover {
  color: #8e8e8e;
}
#hero {
  background: #3e444d;
  color: #fff;
  padding: 50px;
}
#hero h2 {
  width: 800px;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  font-size: 2.5em;
}
#hero h2 span {
  font-size: 1.4em;
  margin-right: -4px;
  font-family: 'entypo';
}
#hero ul {
  zoom: 1;
  margin: 0;
  padding: 0;
  width: 700px;
  margin: 0 auto;
}
#hero ul:before,
#hero ul:after {
  content: "";
  display: table;
}
#hero ul:after {
  clear: both;
}
#hero ul li {
  float: left;
  margin-right: 120px;
  list-style-type: none;
}
#hero ul li:last-child {
  margin-right: 0;
}
#hero ul li:nth-child(2) .icon {
  -webkit-animation-delay: 0.3s;
}
#hero ul li:nth-child(3) .icon {
  -webkit-animation-delay: 0.5s;
}
#hero ul li .icon {
  -webkit-animation: icon-in 1s ease;
  font-family: 'entypo';
  font-size: 180px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#hero ul li span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#content {
  max-width: 960px;
  padding: 0 40px;
  margin: 0 auto;
  margin-bottom: 160px;
}
#content.cssdocs {
  padding-left: 260px;
  padding-right: 0;
  max-width: 700px;
}
#content h3 {
  font-weight: normal;
  color: #333;
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 25px;
}
#content p {
  color: #7e7e7e;
  font-size: 16px;
  line-height: 1.6em;
}
#content ul {
  color: #888;
  font-size: 16px;
  line-height: 1.6em;
}
#content a {
  color: #3e444d;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
#content a:hover {
  border-bottom: 1px solid #e77552;
}
#cssnav {
  position: fixed;
  margin-left: -260px;
  font-size: 18px;
}
#cssnav ul {
  background: #3f444c;
  width: 170px;
  margin: 0;
  padding: 0;
  padding: 10px 20px;
  margin-top: 15px;
}
#cssnav ul li {
  float: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#cssnav ul li {
  margin: 7px 0;
}
#cssnav ul li.active {
  background: url("/img/ribbon.png") no-repeat;
  width: 200px;
  height: 39px;
  margin-left: -28px;
  padding-left: 28px;
  margin-bottom: -12px;
  padding-top: 3px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#cssnav ul li a {
  color: inherit;
  border: none;
  text-decoration: none;
  color: #fff;
}
#cssnav ul li a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}
#cssnav ul li a:visited {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#cssnav ul li a:hover {
  color: #e2d3cf;
}
.easing-demo > div {
  width: 70%;
  margin-left: 20px;
  height: 45px;
  cursor: pointer;
}
.easing-demo > div .animation {
  float: right;
  width: 370px;
}
.easing-demo > div .name {
  float: left;
  font-weight: 600;
}
.easing-demo > div .box {
  width: 20px;
  height: 20px;
  background: #e9754d;
  margin-bottom: -10px;
  margin-left: 0%;
  position: relative;
  z-index: 2;
}
.easing-demo > div .line {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.easing-demo > div:hover .box {
  margin-left: 100%;
}
.easing-demo > div.ease-in-quad .box {
  -webkit-transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -ms-transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.easing-demo > div.ease-in-cubic .box {
  -webkit-transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.easing-demo > div.ease-in-quart .box {
  -webkit-transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -ms-transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.easing-demo > div.ease-in-quint .box {
  -webkit-transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -ms-transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.easing-demo > div.ease-in-sine .box {
  -webkit-transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.easing-demo > div.ease-in-expo .box {
  -webkit-transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -ms-transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.easing-demo > div.ease-in-circ .box {
  -webkit-transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -o-transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -ms-transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.easing-demo > div.ease-in-back .box {
  -webkit-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.easing-demo > div.ease-out-quad .box {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.easing-demo > div.ease-out-cubic .box {
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.easing-demo > div.ease-out-quart .box {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.easing-demo > div.ease-out-quint .box {
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.easing-demo > div.ease-out-sine .box {
  -webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.easing-demo > div.ease-out-expo .box {
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.easing-demo > div.ease-out-circ .box {
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.easing-demo > div.ease-out-back .box {
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.easing-demo > div.ease-in-out-quad .box {
  -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.easing-demo > div.ease-in-out-cubic .box {
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.easing-demo > div.ease-in-out-quart .box {
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.easing-demo > div.ease-in-out-quint .box {
  -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.easing-demo > div.ease-in-out-sine .box {
  -webkit-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.easing-demo > div.ease-in-out-expo .box {
  -webkit-transition: all 1s cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 1s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 1s cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 1s cubic-bezier(1, 0, 0, 1);
  transition: all 1s cubic-bezier(1, 0, 0, 1);
}
.easing-demo > div.ease-in-out-circ .box {
  -webkit-transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.easing-demo > div.ease-in-out-back .box {
  -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.notice {
  background: #e7e7e7 -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #e7e7e7)) repeat-x;
  background: #e7e7e7 -webkit-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 -moz-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 -o-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 -ms-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.notice:before,
.notice:after {
  content: "";
  display: table;
}
.notice:after {
  clear: both;
}
.flash {
  margin-bottom: 10px;
}
.breadcrumbs {
  zoom: 1;
  margin: 0;
  padding: 0;
}
.breadcrumbs:before,
.breadcrumbs:after {
  content: "";
  display: table;
}
.breadcrumbs:after {
  clear: both;
}
.breadcrumbs li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs li:after {
  content: "/";
  margin-left: 10px;
  color: #cdcdcd;
}
.breadcrumbs li:last-child:after {
  content: "";
}
.bubble {
  background: #e7e7e7 -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #e7e7e7)) repeat-x;
  background: #e7e7e7 -webkit-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 -moz-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 -o-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 -ms-linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  background: #e7e7e7 linear-gradient(top, #efefef 0%, #e7e7e7 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble:before,
.bubble:after {
  content: "";
  display: table;
}
.bubble:after {
  clear: both;
}
.bubble:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e7e7e7;
  position: absolute;
  bottom: -9px;
}
.bubble:before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d6d6d6;
  position: absolute;
  bottom: -11px;
}
figure {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
figure img {
  display: block;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,166,252,0.6);
}
figure figcaption {
  padding: 10px 0;
  text-align: center;
  font-style: italic;
}
@-webkit-keyframes icon-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes icon-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-o-keyframes icon-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-ms-keyframes icon-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@keyframes icon-in {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
