doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title welcome to roots!

  body
    != content
    != foo.bar.baz

  //- add other scripts through require.js, not here
