---
title: second post
date: 1/1/1970
layout: ../layouts/_single.jade
---

:markdown
  Well would you look at that. I can even write moar posts!

  Here's a fluffy kitty to make you happier

  ![kitten](http://petscollect.com/wp-content/uploads/2012/07/cute-exotic-shorthair-cat.jpg)
