<%- title_with_markup() %>

<p><strong>Whoo!</strong> You got everything working. Now get to making cool things : )</p>

<% include _partial %>

<p>this file can be found in views/index.jade</p>
<p>if you need help, feel free to get in touch with me directly.</p>