normalize()
base()
buttons()
flash-notices()

blue = #3e444d
orange = #e77552

@font-face
  font-family: 'entypo'
  src: url('/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/entypo/entypo.woff') format('woff'), 
       url('/fonts/entypo/entypo.ttf')  format('truetype'),
       url('/fonts/entypo/entypo.svg#svgFontName') format('svg')

body
  border-top: 7px solid orange
  font-family: 'freight-sans-pro', sans-serif
  position: relative
  background: #f6f8fb
  overflow-x: hidden
  -webkit-animation: fadeIn 1s ease

strong
  font-weight: 600

  code
    color: inherit

hr
  border: 1px solid #ccc
  border-top: none

code
  color: orange
  font-size: .95em

  &.big
    font-size: 1.4em

.fork-ribbon
  display: block
  absolute: top 25px right -45px
  transform: rotate(45deg)
  background: blue
  padding: 5px 50px
  color: white
  text-decoration: none

header
  group()
  padding: 60px
  width: 960px
  margin: 0 auto
  
  .logo
    ir: '/img/logo.png' 163px 84px
    float: left
    display: block
    transition()

    &:hover
      opacity: .8

  nav
    float: right

    ul
      inline-list()
      padding-top: 30px
      color: #a8a9ab
      font-size: 18px

      li a
        color: #a8a9ab
        text-decoration: none
        transition()

        &:hover
          color: #8e8e8e

#hero
  background: blue
  color: white
  padding: 50px

  h2
    width: 800px
    margin: 0 auto
    font-weight: normal
    text-align: center
    font-size: 2.5em

    span
      font-size: 1.4em
      margin-right: -4px
      font-family: 'entypo'

  ul
    inline-list(120px)
    width: 700px
    margin: 0 auto

    li

      &:nth-child(2) .icon
        -webkit-animation-delay: .3s

      &:nth-child(3) .icon
        -webkit-animation-delay: .5s

      .icon
        -webkit-animation: icon-in 1s ease
        font-family: 'entypo'
        font-size: 180px
        text-align: center
        opacity: 0

      span
        opacity: .6

#content
  max-width: 960px
  padding: 0 40px
  margin: 0 auto
  margin-bottom: 160px

  &.cssdocs
    padding-left: 260px
    padding-right: 0
    max-width: 700px

  h3
    font-weight: normal
    color: #333
    font-size: 2em
    margin-bottom: 15px
    margin-top: 25px

  p
    color: #7e7e7e
    font-size: 16px
    line-height: 1.6em

  ul
    color: #888
    font-size: 16px
    line-height: 1.6em

  a
    color: blue
    text-decoration: none
    transition()
    border-bottom: 1px solid transparent

    &:hover
      border-bottom: 1px solid orange

#cssnav
  position: fixed
  margin-left: -260px
  font-size: 18px

  ul
    background: #3F444C
    width: 170px
    reset-list()
    padding: 10px 20px
    margin-top: 15px

    li
      margin: 7px 0

      &.active
        bg: '/img/ribbon.png'
        size: 200 39
        margin-left: -28px
        padding-left: 28px
        margin-bottom: -12px
        padding-top: 3px
        bold()
        text-shadow: 0 1px 1px rgba(#000,.2)

      a
        reset-link()
        color: #fff

        &:hover
          color: #e2d3cf

.easing-demo
  
  & > div
    width: 70%
    margin-left: 20px
    height: 45px
    cursor: pointer

    .animation
      float: right
      width: 370px

    .name
      float: left
      font-weight: 600

    .box
      size: 20px
      background: #E9754D
      margin-bottom: -10px
      margin-left: 0%
      position: relative
      z-index: 2

    .line
      border-bottom: 1px solid #ccc
      width: 100%

    &:hover .box
      margin-left: 100%

    &.ease-in-quad .box
      transition(all 1s ease-in-quad)
    &.ease-in-cubic .box
      transition(all 1s ease-in-cubic)
    &.ease-in-quart .box
      transition(all 1s ease-in-quart)
    &.ease-in-quint .box
      transition(all 1s ease-in-quint)
    &.ease-in-sine .box
      transition(all 1s ease-in-sine)
    &.ease-in-expo .box
      transition(all 1s ease-in-expo)
    &.ease-in-circ .box
      transition(all 1s ease-in-circ)
    &.ease-in-back .box
      transition(all 1s ease-in-back)

    &.ease-out-quad .box
      transition(all 1s ease-out-quad)
    &.ease-out-cubic .box
      transition(all 1s ease-out-cubic)
    &.ease-out-quart .box
      transition(all 1s ease-out-quart)
    &.ease-out-quint .box
      transition(all 1s ease-out-quint)
    &.ease-out-sine .box
      transition(all 1s ease-out-sine)
    &.ease-out-expo .box
      transition(all 1s ease-out-expo)
    &.ease-out-circ .box
      transition(all 1s ease-out-circ)
    &.ease-out-back .box
      transition(all 1s ease-out-back)

    &.ease-in-out-quad .box
      transition(all 1s ease-in-out-quad)
    &.ease-in-out-cubic .box
      transition(all 1s ease-in-out-cubic)
    &.ease-in-out-quart .box
      transition(all 1s ease-in-out-quart)
    &.ease-in-out-quint .box
      transition(all 1s ease-in-out-quint)
    &.ease-in-out-sine .box
      transition(all 1s ease-in-out-sine)
    &.ease-in-out-expo .box
      transition(all 1s ease-in-out-expo)
    &.ease-in-out-circ .box
      transition(all 1s ease-in-out-circ)
    &.ease-in-out-back .box
      transition(all 1s ease-in-out-back)

.notice
  notice()

.flash
  margin-bottom: 10px

.breadcrumbs
  breadcrumb()

.bubble
  bubble()

figure
  figure()

// animations!

@keyframes icon-in
  0%
    opacity: 0
    -webkit-transform: translateY(20px)
  100%
    opacity: 1
    -webkit-transform: translateY(0px)

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1