h3#easing easing
:markdown
  You seriously expect me to write out cubic bezier functions in this $6,800 suit? [Come on!](http://www.youtube.com/watch?v=81Nl7VYFEaI) Roots has all the most common easing functions right here for you, in english™! You can use these anywhere, but they are probably most useful in a transition, like this for example: `transition: all .25s ease-in-sine`. It's almost like this was actually a part of css like it should be!

.easing-demo

  //- ease in functions

  .ease-in-quad
    .name ease-in-quad
    .animation
      .box
      .line
  .ease-in-cubic
    .name ease-in-cubic
    .animation
      .box
      .line
  .ease-in-quart
    .name ease-in-quart
    .animation
      .box
      .line
  .ease-in-quint
    .name ease-in-quint
    .animation
      .box
      .line
  .ease-in-sine
    .name ease-in-sine
    .animation
      .box
      .line
  .ease-in-expo
    .name ease-in-expo
    .animation
      .box
      .line
  .ease-in-circ
    .name ease-in-circ
    .animation
      .box
      .line
  .ease-in-back
    .name ease-in-back
    .animation
      .box
      .line

  //- ease out functions

  .ease-out-quad
    .name ease-out-quad
    .animation
      .box
      .line
  .ease-out-cubic
    .name ease-out-cubic
    .animation
      .box
      .line
  .ease-out-quart
    .name ease-out-quart
    .animation
      .box
      .line
  .ease-out-quint
    .name ease-out-quint
    .animation
      .box
      .line
  .ease-out-sine
    .name ease-out-sine
    .animation
      .box
      .line
  .ease-out-expo
    .name ease-out-expo
    .animation
      .box
      .line
  .ease-out-circ
    .name ease-out-circ
    .animation
      .box
      .line
  .ease-out-back
    .name ease-out-back
    .animation
      .box
      .line

  //- ease in out functions

  .ease-in-out-quad
    .name ease-in-out-quad
    .animation
      .box
      .line
  .ease-in-out-cubic
    .name ease-in-out-cubic
    .animation
      .box
      .line
  .ease-in-out-quart
    .name ease-in-out-quart
    .animation
      .box
      .line
  .ease-in-out-quint
    .name ease-in-out-quint
    .animation
      .box
      .line
  .ease-in-out-sine
    .name ease-in-out-sine
    .animation
      .box
      .line
  .ease-in-out-expo
    .name ease-in-out-expo
    .animation
      .box
      .line
  .ease-in-out-circ
    .name ease-in-out-circ
    .animation
      .box
      .line
  .ease-in-out-back
    .name ease-in-out-back
    .animation
      .box
      .line

