<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1' />
    <meta name='description' content='description of your site' />
    <meta name='author' content= "author of the site" />

    <title>welcome to roots!</title>
    
    <link rel='stylesheet' href='css/master.css' />
  </head>
  <body>
    <%- content %>

    <script data-main="js/main" src="js/require.js"></script>

    <!-- this must be included for live reload to work in developement -->
    <!-- it will be automatically ignored when deployed -->
    <%- livereload %>
  </body>
</html>