#hero
  h2
    | roots 
    span &#9889; 
    | better css

#content.cssdocs

  - sections = ['introduction', 'settings', 'reset', 'vendor', 'positioning', 'grid', 'utilities', 'typography', 'tables', 'gradients', 'forms', 'code', 'interaction', 'easing', 'buttons', 'ui', 'animation']

  #cssnav
    ul
      - for section in sections
        li
          a(href='#'+section)= section

  include modules/introduction
  include modules/settings
  include modules/reset
  include modules/vendor
  include modules/positioning
  include modules/grid
  include modules/utilities
  include modules/typography
  include modules/tables
  include modules/gradients
  include modules/forms
  include modules/code
  include modules/interaction
  include modules/easing
  include modules/buttons
  include modules/ui
  include modules/animation