---
title: hello world
date: 1/1/1970
layout: ../layouts/_single.jade
---

:markdown
  This is my first blog post. Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post. Whoo!
