---
title: second post
date: 1/2/1970
layout: ../views/_single_post.jade
---

:markdown
  Well would you look at that. I can even write moar posts!

  Here's a fluffy kitty to make you happier

  ![kitten](http://1.bp.blogspot.com/_KJOQsgvGWVo/SyEZZKXZIBI/AAAAAAAAHPE/wY0kHT1NKaw/s400/Orange+Fluffy+Kitty.jpg)
