h3#animation animation
:markdown
  There are a bunch of animations available in roots-css that have been ported from [animate.css](http://daneden.me/animate/). If you @import `roots-css/animation`, they will be made available and you can use any of them in your project. Note that any animation with "big" at the end has been left out because these are horrendous and should never be used. And if you really want to use it, you can write it yourself. An example of usage would be as such:

        @import 'roots-css/animation'
        .test
          animation: bounce 3s infinite