h3#code code
:markdown
  A simple modules that applies appropriate styles to `code` and `pre` blocks.

  **`code(color = #DF5C33)`**    
  Styles inline code snippets on the page. Defaults to a nice attention-catching red, but accepts any other color as well.

  **`pre()`**    
  Monospace font and a light background and border for longer blocks of code.

  **`code-blocks()`**    
  This is a _root level mixin_ which applies the `code` and `pre` mixins to `code` and `pre` elements automatically.