h3#grid grid
:markdown
  There are hundreds of existing grid systems out there, and honestly there is no need to make another one just for roots. So I brought in the most excellent and flexible [semantic.gs](http://semantic.gs), which is truly fantastic. Feel free to check out the documentation on the semantic.gs site - but it's very easy to use. To set initial styles, call `grid()` at root level. There are a few configuration variables for the grid in the settings file. What follows is an example of a fluid grid with a main area and sidebar.

        grid()

        column-width: 60
        gutter-width: 20
        columns: 12
        total-width: 100%

        .main
        .sidebar
          float: left

        .main
          column(9)

        .sidebar
          column(3)