h3#reset reset
:markdown
  When you're trying to reset browser css, there are two ways to do it. The global reset gets rid of all browser default styles, and can be called with `global-reset()`. In addition, you can use [normalize.css](http://necolas.github.com/normalize.css/) to normalize styles across browsers. Just call `normalize()`. Both of these should be executed at root level.