h3#settings settings
:markdown
  There are a number of global settings in roots that you can and should feel free to override at any time. If you are using the [roots command line client](https://github.com/jenius/roots-cli), any project you generate will come with a copy of the roots settings file in the css and/or assets folder. I would list them all out here, but it's probably easier to just look at them directly.

  [Check out the settings variables &raquo;](https://github.com/jenius/roots-cli/blob/master/templates/new/assets/css/_settings.styl)