h3#tables tables
:markdown
  The tables are ported directly from [twitter bootstrap](http://twitter.github.com/bootstrap/base-css.html#tables), because they did a good job with them. It's just one mixin which takes care of all the aspects of a nice table.

  **`table(border = true, striped = true, condensed = false)`**    
  Add this to a `table` tag to get a nice-looking table. All options are boolean and do just about what they say.

  **`tables()`**    
  Root level mixin that just adds `table()` to the `table` tag. Almost always more convenient.