h3#typography typography
:markdown
  Everyone wants to have typography their own way so I'm not messing with any grids or vertical rhythms or anything here. Just the basics to make your type look nice, and a few shortcuts for uselessly long common properties.

  **`paragraph(size = font-size, margins = true)`**    
  Sets the font to the specified size, adds a nice line-height, and unless you turn it off, adds appropriate margins for paragraphs.

  **`fs(size)`**    
  A shortcut for `font-size`.

  **`upcase()`**    
  `text-transform: uppercase`. Can also be called as `uppercase()`.

  **`downcase()`**    
  `text-transform: lowercase`. Can also be called as `lowercase()`.

  **`reset-case()`**    
  `text-transform: none`. Just regular case.

  **`h1(), h2(), h3(), h4(), h5(), h6()`**    
  Nice default sizes and styles for headings.

  **`link(color = blue, style = underline)`**    
  A boilerplate link default style. Uses border-bottom for the underline by default for smooth transitions. The style parameter accepts `underline`, `darken`, `lighten`, or `glow`, and you can pass any valid color to the color parameter.

  **`reset-link()`**    
  Takes all the styling off links, including the annoying underline on default styles, and if you have the above link mixin, all borders and hover effects.

  **`text-selection(color = highlight-color, textColor = null)`**    
  Sets the text selection color either to the default variable or to any color you pass in. Sets the text color by default to white for dark hilight colors and black for light hilight colors, but you can override it if you want.

  **`ul(style = disc)`**    
  A nice, semantic, and unorderd list that scales with the font-size. Takes an optional style, which can be [anything you would pass to](https://developer.mozilla.org/en-US/docs/CSS/list-style-type) `list-style-type` in css.

  **`ol(style = decimal)`**    
  Same thing as above, but an ordered list.

  **`inline-list(spacing = 20px)`**    
  Put this on a `ul` or `ol` and your list will be inline and work in any browser. Pass an optional spacing value to change the spacing between list items.

  **`reset-list()`**    
  Strips a list of all styles that would be there by default or from one of the above mixins.

  **`blockquote()`**    
  Nice default style for a blockquote. Expects the quote to be in a nested paragraph element and the citation to be in a cite element.

  -------
  _Each of the below mixins apply styles to elements which means they should be called at root level. If you accidentally call them nested under another element, they will render nothing and add a warning to the console._

  -------

  **`base(fonts = font-stack, size = font-size, color = font-color)`**    
  Applies the default font size, color, and font-family to the body, and adds better anti-aliasing. A great place to start for a custom site.

  **`headers()`**    
  Adds roots' header mixins to the `h1` - `h6` tags

  **`lists()`**    
  Adds roots' list styles to `ol` and `ul`.

  **`bold-italic()`**    
  Adds bold and italic styles to `b`, `i`, `strong`, and `em` tags.

  **`typography()`**    
  Executes `bold-italic()`, `headers()`, `text-selection()`, and `lists()`, adds `paragraph()` to the `p` tag, `small-text()` to the `small` tag, `link()` to the `a` tag, and `blockquote()` to the `blockquote` tag - intelligent defaults for all the typography basics.