h3#vendor vendor
:markdown
  Everybody hates vendor prefixing. It's just a huge pain, and there have been half a million solutions to it. Roots has the best one: don't worry about prefixes at all, ever. Don't do anything different. Just write the properties as they appear in the official spec and they will be prefixed for you automatically if necessary when compiled.

    **Examples:**    
        `translate: rotate(45deg)`    
        `box-shadow: 0 0 5px rgba(#000, .3)`  