header
  a.logo(href='/') roots | where it all begins

  nav
    ul
      li
        a(href='/#overview') overview
      li
        a(href='/css') css library
      li
        a(href='/#installation') installation
      li
        a(href='/#commands') commands
      li
        a(href='/#plugins') plugins
      li
        a(href='/#help') help