!= sdfeds

#hero
  h2 roots is a toolbox for building simple, beautiful, and efficient products for the web.
  ul
    li
      .icon &#9874;
      span powerful compiled languages
    li
      .icon &#128213;
      span simple project structure
    li
      .icon &#59254;
      span css library &amp; live reload

#content
  h3#overview overview
  :markdown
    roots is toolkit built on best pratices for advanced front-end web development. It has a very large number of features, which I’ll attempt to list below. Roots comes in the form of a static site build tool by default, but also includes templates and plugins for [express.js](https://github.com/jenius/roots-express) and [rails](https://github.com/jenius/roots-rails). Plugins for [RailwayJS](http://railwayjs.com/) and [Sinatra](http://www.sinatrarb.com/) are also in the works.

    - extremely simple [installation](#installation)
    - clean and minimal default project template
    - [jade](http://jade-lang.com/), [stylus](http://learnboost.github.com/stylus/), and [coffeescript](http://coffeescript.org/) default stack
    - super fast live reload implementation
    - compile errors displayed as a flash message, doesn’t break workflow
    - layouts and partials fully supported
    - [coffeescript](http://coffeescript.org/) and [markdown](http://daringfireball.net/projects/markdown/) can be written directly in views
    - extremely robust, modular, and powerful [css helper library](/css) built in
    - global variables and functions (view helpers)
    - clean and intuitive app settings file
    - single command deploy to heroku
    - intelligently minifies html, css, and js on deploy
    - efficient client-side js management through [bower](http://twitter.github.com/bower/) and [require.js](http://requirejs.org/)
    - easy to extend with a simple and well-documented plugin interface

  h3#installation installation
  :markdown
    Installation is super straightforward and relies only on [node.js](http://nodejs.org), which has a well-maintined universal installer. If you want to do it the "longer and more manual way", head over to nodejs.org and install node, then run `npm install roots -g` from your command line. Or even easier, if you are on mac or linux, run the command below from your terminal:

  code.big curl get.roots.cx | sh

  h3#commands commands
  :markdown
    Once you have roots installed, it exposes a few useful commands for getting your project set up. You must be at least somewhat familiar with the command line to be able to use roots.

    `$ roots new name`   - creates a new project in the current directory called name    
    `$ roots compile`    - compiles, minifies, and compresses the project to the public folder    
    `$ roots watch`      - compiles the project, opens it on a local server, watches files for change, and live reloads    
    `$ roots update`     - installs a new version of roots if there is one    
    `$ roots js`         - wrapper for bower, type `roots help` for details on roots js commands    

    ...and if you forget or need help, just type `roots help` for a list of available commands

  h3#plugins plugins
  :markdown
    Roots ships with a few core compilers that are optimized for a speedy and efficient workflow. But of course everyone has their own preferred tools, and if there are languages you would rather work in, you can build them in to roots through the plugin interface.

    Plugins need only be one file, and are frequently less than 10 lines of javascript (many of the core compilers are, actually). To create a plugin, just drop a new file, javascript or coffeescript, into `/plugins`. The module need only export two methods, `settings` and `compile`. To get you started, you can run `roots plugin generate` to have roots generate a basic plugin template.

    Here are a few examples of how plugins can look. Note that plugins are executed inside roots' environment, so if you want to require any external files, you need to use `module.require()` instead of just `require()` in order to have roots look for files starting in the plugins directory.

    - [sass compiler](https://github.com/jenius/roots-cli/blob/master/test/plugins/sass.coffee) (command line)
    - [ejs compiler](https://github.com/jenius/roots-cli/blob/master/lib/compilers/core/jade.js) (handles layout files)
    - [stylus compiler](https://github.com/jenius/roots-cli/blob/master/lib/compilers/core/styl.js) (js library based)

    You will probably notice that a class called `Helper` is provided and does much of the work. This class manages important paths and file info and is designed to make compilers clean and easy to manage. Documentation for the `Helper` class is below.

    **`helper = new Helper(file)`**    
    Sample code for how to initialize the helper. Takes a single file from the `files` object that the `compile` method receives

    **`helper.extension`**    
    Returns the extension of the current file

    **`helper.target_extension`**    
    Returns the extension that the file will compile into

    **`helper.export_path`**    
    Returns the absolute path that the file will be placed into after compile

    **`helper.file_path`**    
    Returns the absolute path of the current file

    **`helper.file_contents`**  
    Returns a string with the contents of the current file

    **`helper.layout_path`**    
    _If the file's target extension is html_, Returns the absolute path of the layout file it will be compiled into.

    **`helper.layout_contents`**      
    _If the file's target extension is html_, Returns the contents of the layout file it will be compiled into.

    **`helper.locals(extra_object)`**    
    Returns all the local functions to be rendered with a view template. If you pass it an object, it will include it in the locals. You will want to add yield when compiling the layout, like in the ejs compiler example above.

    **`helper.write(content)`**  
    Writes the provided string to the correct file in the public directory.  

    If you want to dig into the `Helper` a bit more, feel free to [check out the source](https://github.com/jenius/roots-cli/blob/master/lib/compilers/compile-helper.coffee). It's only one small file.

  h3#help help
  :markdown
    Speaking of helpers, if you need help or something is confusing, feel free to [file an issue](http://github.com/jenius/roots-cli/issues), or get in touch with me directly (you shouldn't have much trouble finding my email). I can't debug your app, but if you have found an issue or have a feature request I'd be more than happy to discuss and try to implement it!

    ### faq

    **Can I contribute to this project?**    
    Yes! In fact, I would love it if you did. The repo for the command line client is [right here on github](https://github.com/jenius/roots-cli), and the repo for the css library is [here](https://github.com/jenius/roots-css). Please, help a brother out!

    **I'm having a problem with roots and I'm mad at you.**    
    Breathe deep. I know this project is not perfect. I'm only one guy, I'm doing my best &mdash; promise! I'd be happy to look into any issue - just [file an issue on github](https://github.com/jenius/roots-cli/issues) and I'll get to it as quickly as I can.

    **Is roots totally free?**    
    Why yes it is! It's licensed under _______, which means you can use it free forever. It's because I love you. If you love roots, I would feel great if you [let me know](http://twitter.com/jescalan).

    **Why isn't this site responsive?**
    Because it doesn't need to be. You don't code on your mobile phone, so you don't need coding docs there. Be responsable with responsiveness.

    **Who is responsable for the awesome icons on this site?**    
    Glad you asked! The icons on this site are from [entypo](http://www.entypo.com/), by Daniel Bruce, and he is the man for making such awesome free icons.