doctype 5
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content= "author of the site")

    title= title
  body
    block content

  != css('main')
  != js('main')
  != livereload
