!!!
html
  body
    p hello world, the reload is working very slightly better!

  script(src="/js/socket.js")
  script
    var socket = io.connect('http://localhost');
      socket.on('connected', function (data) {
        console.log('socket connection established');
      });
      socket.on('reload', function(data){
        console.log('reloading...');
        if (data){ document.location.reload(true); }
      });