!!!
html
  body
    :markdown
      **hello world**, the reload is working slightly better, _aw yeaaaaaa_!

  script(src="/js/socket.js")
  :coffeescript
    socket = io.connect 'http://localhost'
    socket.on 'connected', ->
      console.log('socket connection established')
    socket.on 'reload', (data)->
      console.log 'reloading...'
      document.location.reload(true) if data