!!!
html
  head
    link(rel='stylesheet', href='/css/example.css')
  body
    != yield

  //- this must be included for live reload to work in developement
  //- it will be automatically ignored when deployed
  != livereload