!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title
    
    link(rel='stylesheet', href='css/master.css')
  body
    != content

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")
