// -------------------------------------------------------
// Roots global settings variables
// -------------------------------------------------------

helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif

font-stack = helvetica-neue
font-size = 15
font-color = #555

red = #B44326
orange = #F2A34F
yellow = #F8CA5C
green = #7FC028
light-blue = #52D7FE
blue = #00a6fc
purple = #8E48C2
white = #fff
black = #272727

default-color = blue
hilight-color = blue

vendors = webkit moz o ms official

img-path = '../img/'

pie-enabled = false
pie-path = '/pie.htc'

column-width = 60px
gutter-width = 20px
columns = 12
