!= title_with_markup()

:markdown
  **Whoo!** You got everything working. Now get to making cool things : )

include _partial

p this file can be found in views/index.jade

p if you need help, feel free to get in touch with me directly.

:coffeescript
  console.log 'you can even use coffeescript in your views, aw yeah'