!= title_with_markup()

:markdown
  **Whoo!** You got everything working. Now get to making cool things : )

p this file can be found in views/index.jade

include _partial

:markdown
  For help and documentation, check out [http://roots.cx](http://roots.cx)

:coffeescript
  console.log 'you can even use coffeescript in your views, aw yeah'
