!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title welcome to roots!
    
    link(rel='stylesheet', href='/css/master.css')
  body
    != yield

  //- add other scripts through require.js, not here
  script(data-main="js/main", src="js/require.js")

  //- this must be included for live reload to work in developement
  //- it will be automatically ignored when deployed
  != livereload