@import 'utilities'

// -----------------------------------------------------
// Interaction
// -----------------------------------------------------

// Mixin: Hover Darken
// Pass this a color and it will darken it. Defaults to text color, pass bg makes the bgcolor darken.
// Optional percentage as the second param.
// ex. +darken(red)
// ex. +darken(#D45D86, 30%)
// ex. +darken(blue, bg: true)

hover-darken(percent = 15%)
  &:hover
    if @background-color || @background
      background-color: darken(@background-color, percent)
    else
      color: darken(@color, percent)

// Mixin: Hover Lighten
// Works the same way as hover darken but lightens the color

hover-lighten(percent = 15%)
  &:hover
    if @background-color || @background
      background-color: lighten(@background-color, percent)
    else
      color: lighten(@color, percent)

// Mixin: Hover Underline
// This one is interesting, and may need tweaking to get it to work right on the
// intended element. Works very nicely for text, like in a span, and can animate.
// ex. +hover-underline

hover-underline()
  border-bottom: 1px solid transparent
  &:hover
    border-bottom: 1px solid

// Mixin: Hover Pop
// On hover, your element pops out from the page. For scale, it takes an integer or float,
// 1 represents 100%, 2 is 200%, etc. Optionally can also rotate, pass it a number followed by
// "deg", like 180deg. If you pass true for shadow, it will animate in a drop shadow to add to
// the effect
// ex. +hover-pop(1.5)
// ex. +hover-pop(2.6, 90deg)
// ex. +hover-pop(1.2, 45deg, true)
// ex. +hover-pop(1.7, shadow: true)

hover-pop(scale, rotate = false, shadow = false)
  if shadow
    box-shadow(0 0 1px transparent)
  &:hover
    position: relative
    z-index: 10
    -webkit-transform: scale(scale)
    if shadow
      box-shadow(0 0 5px rgba(#000, .3))
    if rotate
      -webkit-transform: scale(scale) rotate(rotate)

// Mixin: Hover Fade
// On hover, fades the element's opacity down. Takes an amount as an integer between
// 0 and 1, like opacity normally does. Recommended to be used with transition.
// ex. +hover-fade(.5)

hover-fade(amount)
  &:hover
    opacity: amount

// Mixin: Hover Color
// Will swap an elements color or background color on hover. Takes a color in any format
// as the first argument, and a boolean indicating if you want it to be the background color
// as the second. Also recommended to be used with transition.
// ex. +hover-color(#D45D86)
// ex. +hover-color(red, true)

hover-color(color, bg = false)
  &:hover
    if bg
      background-color: color
    else
      color: color

// To add:
// *+click-down(pixels)* 
// *+click-shadow(radius)* 
// *+button-interaction(color)* 