!= title_with_markup()

:markdown
  **Whoo!** You got everything working. Now get to making cool things : )

include _partial

p good luck!

:coffeescript
  console.log 'you can even use coffeescript in your views, aw yeah'